.chat-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    .chat-container {
        height: 100%;
        overflow-y: auto;
        display: flex;
        width: 100%;
        .message-list {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            padding: 0px 5px;
            margin: 0;
            list-style-type: none;
            overflow: auto;
            .message-wrapper {
                width: 100%;
                display: flex;
                position: relative;
                align-items: center;
                .message,
                .nickname-span {
                    word-wrap: break-word;
                    border-radius: 5px;
                    margin-bottom: 5px;
                    color: white;
                }
                .message {
                    white-space: pre-wrap;
                    padding: 5px 10px;
                    max-width: 70%;
                    width: max-content;
                    list-style-type: none;
                    background-color: rgb(24, 37, 51);
                    margin-top: 0;
                    &.selected {
                        background-color: forestgreen;
                    }
                    .replied-message {
                        display: none;
                        &.show {
                            display: flex;
                        }
                        .line {
                            width: 3px;
                            border: none;
                            margin-right: 10px;
                            border-radius: 5px;
                            background-color: #7c9df8;
                        }
                        .replied-content {
                        }
                    }
                }
                .nickname-span {
                    width: 55px;
                    background-color: rgb(2, 1, 12);
                    padding: 5px 5px;
                    margin-right: 5px;
                    text-overflow: clip;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    align-self: flex-end;
                    &:hover::after {
                        position: absolute;
                        content: attr(data-name);
                        left: 10px;
                        bottom: -20px;
                        z-index: 1;
                        background-color: rgb(2, 1, 12);
                        border-radius: 5px;
                        padding: 5px;
                    }
                }
                &.from-owner {
                    justify-content: flex-end;
                    .message {
                        background-color: rgb(43, 82, 120);
                        &.selected {
                            background-color: forestgreen;
                        }
                    }
                    .nickname-span {
                        display: none;
                    }
                }
            }
        }
    }
    .bottom-panel {
        background-color: rgb(55, 66, 87);
        .send-form-container {
            display: flex;
            align-items: center;
            bottom: 0;
            width: 100%;
            height: auto;
            padding: 10px 0px;
            .send-form {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0px 10px;
                input,
                button {
                    border: none;
                }
                textarea {
                    font-size: 14px;
                    width: 100%;
                    margin-right: 5px;
                    outline: none;
                    word-wrap: normal;
                    height: fit-content;
                    padding: 5px;
                    border-radius: 5px;
                    resize: none;
                }
                button {
                    background-image: url("./send-icon.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30px;
                    background-color: transparent;
                    cursor: pointer;
                    border-radius: 50%;
                    display: block;
                    height: 40px;
                    flex: 0 0 40px;
                    &:hover {
                        background-color: rgba(56, 75, 128, 0.795);
                    }
                }
            }
        }
        .edit-panel {
            display: none;
            flex-wrap: wrap;
            transition: 0.2s;
            &.mess-selected {
                display: flex;
            }
            .edit-btn {
            }
            .delete-btn {
            }
            .selected-messages {
            }
        }
        .reply-panel {
            display: none;
            margin: 5px 55px 0px 10px;
            border-radius: 7px;
            align-items: center;
            justify-content: space-between;
            background-color: #1a1e43;
            transition: 0.2s;
            &.show {
                display: flex;
            }
            .reply-span {
                text-overflow: clip;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 10px 20px;
                color: white;
            }
            .cancel-btn {
                width: 20px;
                height: 20px;
                border: none;
                background-position: center;
                margin-right: 20px;
                padding: 0;
                background-image: url(./close-icon.svg);
                background-color: transparent;
                background-repeat: no-repeat;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background-image: url(./close-icon-light.svg);
                }
            }
        }
    }
}

// .reply-modal{
//     position: fixed;
//     top: 20px;
//     left: calc(50% - 50px);
//     background-color: rgb(21, 21, 110);
//     color: white;
//     display: none;
//     justify-content: center;
//     align-items: center;
//     padding: 30px 50px;
//     border-radius: 20px;
//     z-index: 1;
//     &.show{
//         display: flex;
//     }
// }
