.chat-page-root {
    display: flex;
    height: 100%;
}

.side-panel-container {
    width: 30%;
    height: 100%;
    background-color: rgb(187, 187, 187);
}

.chat {
    background-color: rgb(88, 82, 139);
    width: 70%;
    height: 100%;
}